.menu {
  margin-bottom: 100px;
  padding: 90px 0;
  .heading {
    h1 {
      font-size: 3rem;
      padding: 30px;
      text-align: center;
      font-weight: 300;
      color: #fe4038;
    }
  }
  .container {
    max-width: 1200px;
    margin: auto;
  }
  .grid {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem 2rem;
    .item {
      .img {
        margin-bottom: 20px;
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 8px;
        }
      }
      ul {
        display: grid;
        gap: 10px;
        li {
          display: grid;
          grid-template-columns: 50px auto;
          align-items: center;
          gap: 15px;
          .start {
            img {
              width: 50px;
              object-fit: cover;
              height: 50px;
              border-radius: 12px;
              border: 1px solid #e0e0e047;
            }
          }
          .end {
            p {
              font-size: 16px;
              font-family: "Merienda";
            }
            span {
              font-size: 15px;
              font-family: "Merienda";
              color: #fe4038;
            }
          }
        }
      }
    }
  }
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAccordion-root.Mui-expanded.css-1fjvggn-MuiPaper-root-MuiAccordion-root {
  background: #8b8b8b !important;
}
.css-1fjvggn-MuiPaper-root-MuiAccordion-root {
  background: transparent !important;
  border-radius: 8px;
  border: 1px solid #fe4038 !important;
  overflow: hidden;
}
