@import "./media.scss";
html {
  scroll-behavior: smooth;
}
.prod__info {
  background: #0d0d0d !important;
  .container {
    max-width: 1200px;
    margin: 30px auto 0;
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
      @include md {
        grid-template-columns: 1fr;
      }
      > .item {
        padding: 10px;
      }
      > div:nth-child(1) {
        .gallery {
          display: grid;
          grid-template-columns: 1fr;
          > .img {
            order: 1;
            > img {
              width: 100%;
              display: flex;
              margin: auto;
              height: 400px;
              object-fit: cover;
              border-radius: 20px;
              border: 1px solid #e0e0e047;
            }
          }
          > .related_imges {
            display: flex;
            flex-direction: column;
            gap: 10px;

            > img {
              width: 80%;
              cursor: pointer;
              border-radius: 10px;
            }
          }
        }
      }
      > div:nth-child(2) {
        .top__detail {
          display: grid;
          grid-row-gap: 10px;

          margin-bottom: 12px;
          > .title {
            > .category {
              font-size: 1.4rem;
              line-height: 1.25rem;
              text-transform: uppercase;
              margin-bottom: 20px;
              color: #fe4038;
              font-weight: 200;
            }
            .title__name {
              font-size: 45px;
              letter-spacing: normal;
              line-height: 30px;
              font-weight: 300;
              margin-bottom: 12px;
              color: #fff;
            }
            > div {
              display: flex;
              gap: 10px;
              font-size: 13px;
            }
          }
          .description {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: cursive;
          }
          > .price {
            display: flex;
            font-size: 18px;
            margin: 12px 0;
            align-items: center;
            gap: 10px;
            > h2:nth-child(1) {
              color: #fff;
              margin-right: 12px;
              font-weight: 500;
              font-size: 35px;
              font-family: "Inter", sans-serif;
            }

            .qty {
              .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                border-color: #ffffff3b !important;
              }
            }
          }
          button {
            background: #fe4038;
            padding: 7px 100px;
            font-size: 24px;
            border-radius: 10px;
            color: #040404;
            cursor: pointer;
          }
        }
        > .quantity {
          margin: 12px 0;
          border: 1px solid #e0e0e047;
          padding: 15px;
          border-radius: 15px;
          > .qty {
            display: grid;

            gap: 10px;
            color: #000;
            .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
              background-color: #000 !important;
              background: #000 !important;
              color: rgba(0, 0, 0, 0.87);
            }
            .item {
              display: grid;
              grid-template-columns: 60px 3.5fr;
              grid-gap: 10px;
              border: 1px solid #e0e0e047;
              cursor: pointer;
              padding: 10px;
              border-radius: 12px;
              .img {
                img {
                  width: 100%;
                  height: 60px;
                  width: 60px;
                  object-fit: cover;
                  border-radius: 10px;
                  border: 1px solid #e0e0e047;
                }
              }
              .details {
                .top {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  h3 {
                    font-weight: 400;
                    font-size: 22px;
                    margin: 0;
                  }
                  .end {
                    color: greenyellow;
                  }
                }
                .bottom {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .start {
                    font-family: "Inter", sans-serif;
                  }
                }
              }
            }
          }
          > .size {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #2b2d42;
            margin: 15px 0 0 0;
            ul {
              display: flex;
              gap: 10px;
              li {
                padding: 10px;
                width: 40px;
                display: grid;
                place-content: center;
                height: 40px;
                cursor: pointer;
                border: 1px solid #e7e7e7;
                border-radius: 100px;
                box-shadow: 0 0 10px #00000012;
                transition: 0.3s all;
                &:hover {
                  background-color: #eee;
                }
              }
            }
          }
          > .buy {
          }
        }
        > .add_to_cart {
          > button {
            cursor: pointer;
            margin: 12px 0;
            border: 1px solid #2b2d42ad;
            width: 100%;
            padding: 11px;
            border-radius: 4px;
            font-size: 16px;
            font-family: "Poppins", sans-serif !important;
            font-weight: 500;
            text-transform: uppercase;
            color: white;
            background: #232323;
            transition: 0.3s all;

            &:hover {
              background-color: #fff;
              color: #232323;
            }
          }
        }
        .description {
          margin-top: 20px;

          > div {
            box-shadow: none !important;
            > div {
              box-shadow: none !important;
            }
          }
        }
      }
    }
  }
}
.quantity-modifier {
  border-left: 1px solid #000;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  border-bottom: 1px solid #e0e0e0a1;
}
div#panel1a-header {
  border-bottom: 1px solid #e0e0e0a1;
}
.MuiCollapse-root.MuiCollapse-vertical.MuiCollapse-entered.css-pwcg7p-MuiCollapse-root {
  border-bottom: 1px solid #e0e0e0a1;
  height: 150px;
  background: #111111;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fe4038;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #eee;
    height: 20px;
  }
}
