body {
  background: #f5f9fa !important;
}
main.MuiContainer-root.MuiContainer-maxWidthXs.css-nzinn5-MuiContainer-root {
  width: 100% !important;
  max-width: 100% !important;
}
.MuiBox-root.css-binzgt {
  margin-top: 0;
  padding: 40px 10px;
}
